html{
	background: #2f3034;
	letter-spacing: .06em;
	scroll-behavior: smooth;
}

body{
	color: #c6cddb;
	font-family: trebuchet ms,Verdana,lucida sans,Tahoma,sans-serif;
	margin: 0;
}

h1{
	font-size: 2em;
}

a {
	color: #c6cddb;
	text-decoration: none;
	border: none;
	outline: 0;
}

a:hover{
	color: white;
	cursor: pointer;
}

p{
	caret-color: transparent;
}

p:hover{
	cursor: default;
}

.bg-image{
	width: 100%;
	height: 100%;
	opacity: .1;
	z-index: -1;
	position: fixed;
	top: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

main{				
	caret-color: transparent;
	text-align: center;
	display: block;
}

#home{
	font-size: 1.5em;
	margin-top: 7em;	
}

#home:hover{
	cursor: default;
}

#home-bg{
	background-image: url('../images/bg-img.jpg');
}

#home-title{
	text-align: center;
	line-height: 1.8em;
}

#home-subtitle{
	text-align: center;
	line-height: 0;
	font-size: .7em;
	font-style: italic;
	opacity: .9;
}

#navbar{
	opacity: .8;
	line-height: 1.4em;			
}

#home-about{
	font-size: 1.5em;
	line-height: 2em;
}

#social-media{
	font-size: 1.4em;
	text-align: center;
	opacity: .8;
}

#main-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size:0.5em;
	text-align: center;
}

#about-bg{
	background-image: url('../images/about-img.jpg')
}

#about{
	margin-top: 7em;
	font-size: 1.em;
	margin-right: 2em;
}

#about-title{
	padding-left: 30%;
}

img{
	float: left;
	margin-left: 2em;
	margin-right: 2em;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }